body{
    background-image: url(https://static.photocdn.pt/images/articles/2020/12/31/best_camera_settings_for_snowy_landscapes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: bolder;
    font-size: x-large;

}
.container{
    text-align: center;
}

#counter-el{
    font-size: 70px;
}

button{
    border: none;
    border-radius: 15px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;

}

#increase-btn{
    background-color: rgba(19, 241, 19, 0.829);
}

#decrease-btn{
    background-color: rgba(255, 0, 0, 0.61);
    margin-top: 25px;
}

footer{
    margin-top: 150px;
    background-color: rgba(58, 58, 56, 0.575);
    height: 27vh;
    position: relative;
    
}

#save-btn{
    background-color: cyan;
    margin-top: 25px;
}